.component_400 {
  min-height: 400px;
  width: 100%;
  padding: 55px 50px 20px 50px;
}

.component_400 > h2 {
  font-size: 27px;
  text-align: center;
  margin-bottom: 50px;
}

.body_400 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1028px) {
  .component_400 {
    padding: 55px 14px 20px 14px;
  }
}

@media (max-width: 396px) {
  .component_400 > h2 {
    font-size: 21px;
    margin-bottom: 40px;
  }
}

@media (max-width: 339px) {
  .component_400 {
    padding: 55px 14px 20px 14px;
  }
}
