.transactionPage_container {
  display: flex;
  margin-left: 250px;
  padding: 27px 35px 20px 35px;
max-height: 100vh;
min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  
}

@media (max-width: 1028px) {
  .transactionPage_container {
    margin-left: 0px;
    padding: 90px 15px 5px 15px;
  }
}

@media (max-width: 620px) {
  .transactionPage_container {
    padding: 82px 7px 5px 7px;
  }
}

@media (max-width: 450px) {
  .transactionPage_container {
    padding: 82px 7px 5px 7px;
  }
}