/* secondSection section */

.animate-pop-in {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(0.8);
  transform: translateY(-4rem) scale(0.8);
}

.secondSection-container {
  margin-top: 40px;
  display: flex;
  min-height: 30vh;
  padding: 50px;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.secondSection-container > h2 {
  font-size: 30px;
  opacity: 0;
  -webkit-animation: no-transform 2s 0.1s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: no-transform 2s 0.1s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.secondSection-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.secondSection-box-inner {
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 280px;
  padding: 8%;
  background: rgba(245, 245, 245, 0.1);
}

.secondSection-icons {
  color: rgba(189, 255, 0, 1);
  font-size: 40px !important;
}

.secondSection-box-inner h5 {
  font-size: 20px;
  color: rgba(189, 255, 0, 1);
}
.secondSection-box-inner p {
  font-size: 14px;
  text-align: center;
  line-height: 19px;
}

@media (max-width: 1028px) and (min-width: 658px) {
  .secondSection-container {
    margin-top: -20px;
  }

  .secondSection-box {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
}

@media (max-width: 658px) {
  .secondSection-container {
    margin-top: 0px;
    padding: 25px;
    gap: 25px;
  }
  .secondSection-box {
    grid-template-columns: 1fr;
    gap: 3%;
  }

  .secondSection-box-inner {
    max-height: 220px;
    gap: 10%;
  }

  .secondSection-icons {
    font-size: 28px !important;
  }
}

@media (max-width: 339px) {
  .secondSection-container {
    padding: 14px;
    gap: 20px;
  }
  .secondSection-box-inner {
    gap: 15px;
    padding: 6%;
  }

  .secondSection-container > h2 {
    font-size: 24px;
  }

  .secondSection-icons {
    font-size: 20px !important;
  }

  .secondSection-box-inner h5 {
    font-size: 14px;
  }
  .secondSection-box-inner p {
    font-size: 12px;
    line-height: 15px;
  }
}
