.country-picker {
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
  color: black;
  z-index: 999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.country-picker-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
