.body_innerbody_501 {
  min-height: 70px;
  width: 90%;
  display: flex;
  align-items: center;
  background: rgba(245, 245, 245, 0.09);
  justify-content: center;
  border-radius: 37px;
  flex-direction: column;
}

.body_innerbody_504 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 120px;
  justify-content: space-between;
}

.body_innerbody_504 > p {
  font-size: 20px;
  color: rgba(256, 256, 256, 0.9);
}

.requirements-container {
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  color: rgba(256, 256, 256, 0.8);
}

.requirements-container > h6 {
  margin-bottom: 14px;
  font-size: 20px;
}

.requirements-container > ul {
  list-style-type: none;
}

.requirements-container > ul > li {
  margin-bottom: 15px;
}

@media (max-width: 1068px) {
  .body_100 {
    flex-direction: column;
  }
}

@media (max-width: 613px) {
  .component {
    padding: 55px 25px 20px 25px;
  }
}
