
.user_withdraw_container {
  display: flex;
  margin-left: 250px;
  padding: 27px 35px 20px 35px;
  min-height: 100vh;
  flex-direction: column;
/* max-height: 190vh; */
  flex-direction: column;
flex: 0 0 auto
}

.user_deposit_container_001 {
    width: 100%;
    flex: 0 0 auto;
    padding: 10px;
    background: rgba( 0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 40px;
}


label {
  margin-top: 10px;
}

@media (max-width: 1028px) {
  .user_withdraw_container {
    margin-left: 0px;
    padding: 90px 15px 10px 15px;
  }
}

/* YourComponent.css */
#network option[disabled] {
  opacity: 0.1 !important;
}

@media (max-width: 620px) {
  .user_withdraw_container {
    padding: 82px 7px 10px 7px;
  }
}

@media (max-width: 450px) {
  .user_withdraw_container {
    padding: 82px 7px 10px 7px;
  }
}





.submit-button-deposit {
  color: white !important;
  /* background: red !important; */
  font-weight: 600 !important;
  width: 200px !important;
  height: 40px !important;
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  font-size: 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  margin-top: 22px !important;
  cursor: pointer !important;
  align-self: flex-start !important
}

@media (max-width: 665px) {
  .submit-button-deposit {
    align-self: center !important;
  }

  .deposit-form1 {
    padding: 8px;
  }

  .deposit-form1::placeholder {
    color: rgba(256, 256, 256, 0.1);
    font-size: 12px;
  }
  .laptop-version {
    display: none
  }

}

@media (max-width: 395px) {
  p {
    font-size: 12px;
  }
}

.saved_id_container_outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.saved_id_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.saved_id_container-inner {
  padding: 5px 10px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(256, 256, 256, 0.5);
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 1283px) {
  .saved_id_container_outer {
    flex-direction: column;
    gap: 13px;
    width: 100%;
  }

  .saved_id_container_outer > div {
    font-size: 11px;
  }

  .saved_id_container {
    align-self: flex-end;
  }

  .saved_id_container-inner {
    padding: 2.5px 5px;
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    font-size: 12px;
    gap: 8px;
  }
}

@media (max-width: 1283px) {
  .saved_id_container-inner {
    gap: 6px;
    padding: 2px 4px;
  }

}








    .deposit-container {
  display: flex;
  min-height: calc(100vh - 93px);
  width: 100vw;
  flex-direction: column;
  margin-top: 93px;
}

/* first section */
.deposit-container_inner {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 60vh;
  gap: 80px;
}

.deposit-container_inner_background_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.deposit-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 40px;
  align-items: center;
}
label{
  font-weight: 600;
  align-self: flex-start;
}
.deposit-form {
  border: none;
  outline: none;
  padding: 15px;
  color: white;
  background: transparent;
  width: 100%;
  border: 2px solid rgba(256, 256, 256, 0.09);
  border-radius: 4px;
  font-size: 16px;
  background: rgba(256, 256, 256, 0.03);
}


.deposit-form:-webkit-autofill,
.deposit-form:-webkit-autofill:hover,
.deposit-form:-webkit-autofill:focus,
.deposit-form:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.deposit-form::placeholder {
  color: rgba(256, 256, 256, 0.1);
  font-size: 16px;
}

.deposit-form:focus {
  border: 2px solid rgba(189, 255, 5, 0.7);
  outline: none;
  transition: 1s border ease-in-out;
}



.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  border-radius: 28px 0px 0px 28px;
  border: 2px solid rgba(189, 255, 5, 0.2);
  border-right: none;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.welcome-section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(256, 256, 256, 0.3);
  height: 100%;
  letter-spacing: 4px;
}

.welcome-section-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.welcome-section-second_h5 {
  color: white;
  font-weight: 600;
}

.welcome-section-second_p {
  font-size: 15px;
}

.forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: rgba(256, 256, 256, 0.7);
  font-weight: 300;
  padding: 0px 13px;
  font-size: 16px;
}

.forgot-password:hover {
  color: rgba(256, 256, 256, 1);
}

.deposit-header {
  display: none;
}

@media (min-width: 1028px) and (max-width: 1090px) {
  .welcome-section-second_p {
    font-size: 13px;
  }
}

@media (max-width: 1028px) {
  .deposit-container {
    margin-top: 80px;
  }

  .welcome-section {
    display: none;
  }

  .deposit-form-container {
    width: 100%;
    padding: 10px 10px;
    gap: 10px;
  }

  .deposit-container_inner {
    min-height: 250px;
  }
  .deposit-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgba(256, 256, 256, 0.3);
    height: 100%;
    letter-spacing: 4px;
    margin: 15px 0px;
  }

  .deposit-form {
    height: 50px;
  }

  .submit-button-deposit {
    width: 100% !important;
  }

  .forgot-password {
    font-size: 12px;
  }
}

/* last section */
.deposit-container_inner23 {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0px 50px;
  justify-content: center;
  width: 100vw;
  height: 100%;
  align-items: center;
}

.deposit-social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.deposit-img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.deposit-img:hover {
  transform: scale(0.8);
}

.welcome-section-mobile {
  display: none;
}

@media (max-width: 1028px) {
  .deposit {
    padding: 0px 20px;
  }

  .deposit-img {
    width: 30px;
    height: 30px;
  }

  .deposit-social-media-icons {
    width: 80%;
  }

  .deposit-container_inner23 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 0px 0px;
    justify-content: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    margin-bottom: 38px;
  }

  .welcome-section-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 20px 0px;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    min-height: 25vh;
  }

  .welcome-section-second-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 30px;
  }

  .welcome-section-second_h5-mobile {
    color: white;
    font-weight: 600;
  }

  .welcome-section-second_p-mobile {
    font-size: 12px;
  }
}

/* spinner positioning and styling */
#container-deposit {
  width: 35px;
  margin: 1em auto;
  position: relative;
  height: 35px;
}
#html-spinner-deposit {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-top: 4px solid rgba(189, 255, 5, 0.2);
  border-radius: 50%;
}

#html-spinner-deposit,
#svg-spinner-deposit {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1028px) {
  #container-deposit {
    width: 25px;
    height: 25px;
  }
}

.deposit-form-password {
  display: flex;
  width: 100%;
  position: relative;
}

.deposit-form-password-visibility {
  position: absolute;
  right: 20px;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(256, 256, 256, 0.6);
}

@media (max-width: 355px) {
  .deposit-form {
    padding: 10px !important;
    border: 1.4px solid rgba(256, 256, 256, 0.09);
    border-radius: 4px;
    font-size: 13px;
  }
  .deposit-condition-checkbox-p {
    font-size: 7.5px;
  }

  .deposit-form::placeholder {
    font-size: 12px;
  }
  .welcome-section-second_p-mobile {
    font-size: 10px !important;
  }

  .welcome-section-second_h5-mobile {
    font-size: 11px;
  }

  .deposit-header {
    font-size: 14px;
  }

  .submit-button-deposit {
    font-size: 22px !important;
  }
}
