.footer {
  display: flex;
  gap: 35px;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  padding: 70px 50px;
}

.footer > h4 {
  font-size: 24px;
   text-align: center;

}

.footer > p {
  font-size: 15px;
  color: rgba(256, 256, 256, .5);
  text-align: center;
  line-height: 22px
}

.styled-input {
  width: 100%;
  padding: 20px 17px;
   padding-right: 50px;
  border-radius: 30px;
  border: 4px solid #0A1426;
  transition: border 1s ease-in-out;
  background: rgba(245, 245, 245, 0.05);
  color: white;
  outline: none;
}

.styled-input:focus {
  border: 3px solid rgba(189, 255, 0, 0.8);
}

.styled-input-container {
  display: flex;
  width: 60vw;
}

.footer-FaLongArrowAltRight {
  position: absolute;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px
}
 .footer-img {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
      transition: transform 0.3s ease;
  }

  .footer-img:hover {
  transform: scale(0.8);
}
  .footer-social-media-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 90px;
  }

@media (max-width: 1028px) {
  .footer {
  padding: 40px 20px 10px 20px;
  
}
.styled-input-container {
  display: flex;
  width: 90vw;
}

  .styled-input {
  width: 100%;
  }

   .footer-img {
    width: 30px;
    height: 30px;
  }

  .footer-social-media-icons {
  width: 80%;
}
}