.toggleBtn {
  border-radius: 100px;
  background-color: rgba(73, 166, 106, 1);
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-weight: 600;
  position: fixed;
  right: 10px;
  top: 30dvh;
}
