.signin-container {
  display: flex;
  min-height: calc(100vh - 93px);
  width: 100vw;
  flex-direction: column;
  margin-top: 93px;
}

/* first section */
.signin-container_inner {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 60vh;
  gap: 80px;
}

.signin-container_inner_background_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.signin-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding: 60px;
  align-items: center;
}

.signin-form {
  border: none;
  outline: none;
  padding: 15px;
  color: white;
  background: transparent;
  width: 100%;
  border: 2px solid rgba(256, 256, 256, 0.09);
  border-radius: 4px;
  font-size: 16px;
  background: rgba(256, 256, 256, 0.03);
}

.signin-form:-webkit-autofill,
.signin-form:-webkit-autofill:hover,
.signin-form:-webkit-autofill:focus,
.signin-form:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.signin-form::placeholder {
  color: rgba(256, 256, 256, 0.1);
  font-size: 16px;
}

.signin-form:focus {
  border: 2px solid rgba(189, 255, 5, 0.7);
  outline: none;
  transition: 1s border ease-in-out;
}

.submit-button-signin-special {
  color: black !important;
  background: rgba(189, 255, 5, 0.7) !important;
  font-weight: 600 !important;
  width: 50% !important;
  height: 45px !important;
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  font-size: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  margin-top: 40px !important;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  border-radius: 28px 0px 0px 28px;
  border: 2px solid rgba(189, 255, 5, 0.2);
  border-right: none;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.welcome-section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(256, 256, 256, 0.3);
  height: 100%;
  letter-spacing: 4px;
}

.welcome-section-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.welcome-section-second_h5 {
  color: white;
  font-weight: 600;
}

.welcome-section-second_p {
  font-size: 15px;
}

.forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: rgba(256, 256, 256, 0.7);
  font-weight: 300;
  padding: 0px 13px;
  font-size: 16px;
}

.forgot-password:hover {
  color: rgba(256, 256, 256, 1);
}

.signin-header {
  display: none;
}

@media (min-width: 1028px) and (max-width: 1090px) {
  .welcome-section-second_p {
    font-size: 13px;
  }
}

@media (max-width: 1028px) {
  .signin-container {
    margin-top: 80px;
  }

  .welcome-section {
    display: none;
  }

  .signin-form-container {
    width: 100%;
    padding: 60px 15px;
    gap: 10px;
  }

  .signin-container_inner {
    min-height: 250px;
  }
  .signin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgba(256, 256, 256, 0.3);
    height: 100%;
    letter-spacing: 4px;
    margin: 15px 0px;
  }

  .signin-form {
    height: 50px;
  }

  .submit-button-signin-special {
    width: 100%!important;
  }

  .forgot-password {
    font-size: 12px;
  }
}

/* last section */
.signin-container_inner23 {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0px 50px;
  justify-content: center;
  width: 100vw;
  height: 100%;
  align-items: center;
}

.signin-social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.signin-img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.signin-img:hover {
  transform: scale(0.8);
}

.welcome-section-mobile {
  display: none;
}

@media (max-width: 1028px) {
  .signin {
    padding: 0px 20px;
  }

  .signin-img {
    width: 30px;
    height: 30px;
  }

  .signin-social-media-icons {
    width: 80%;
  }

  .signin-container_inner23 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 0px 0px;
    justify-content: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    margin-bottom: 38px;
  }

  .welcome-section-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 20px 0px;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    min-height: 25vh;
  }

  .welcome-section-second-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 30px;
  }

  .welcome-section-second_h5-mobile {
    color: white;
    font-weight: 600;
  }

  .welcome-section-second_p-mobile {
    font-size: 12px;
  }
}

/* spinner positioning and styling */
#container-signin-signin-special {
  width: 35px;
  margin: 1em auto;
  position: relative;
  height: 35px;
}
#html-spinner-signin-signin-special {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-top: 4px solid rgba(189, 255, 5, 0.2);
  border-radius: 50%;
}

#html-spinner-signin,
#svg-spinner-signin {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1028px) {
  #container-signin-signin-special {
    width: 25px;
    height: 25px;
  }
}

.signin-form-password {
  display: flex;
  width: 100%;
  position: relative;
}

.signin-form-password-visibility {
  position: absolute;
  right: 20px;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(256, 256, 256, 0.6);
}

@media (max-width: 355px) {
  .signin-form {
    padding: 10px !important;
    border: 1.4px solid rgba(256, 256, 256, 0.09);
    border-radius: 4px;
    font-size: 13px;
  }
  .signin-condition-checkbox-p {
    font-size: 7.5px;
  }

  .signin-form::placeholder {
    font-size: 12px;
  }
  .welcome-section-second_p-mobile {
    font-size: 10px !important;
  }

  .welcome-section-second_h5-mobile {
    font-size: 11px;
  }

  .signin-header {
    font-size: 14px;
  }

  .-signin-special-signin-special {
    font-size: 22px!important;
  }
}
