.transaction_template_container_subadmin-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  gap: 20px;
  padding: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
min-height: 420px
}

.active_selection_small_subadmin {
   background: grey;
   color: black
}
  .transaction_template_container_header_2_span_1_subadmin {
   color: #658900;
  }
  .transaction_template_container_header_2_span_2_subadmin {
     color: #0076b8;
  }
  
.transaction_template_container_header_subadmin {
  display: flex;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 18px;
}
.transaction_template_container_header_1_subadmin {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 700;
  gap: 12px;
}
.transaction_template_container_header_2_subadmin {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.transaction_template_container_header_2_subadmin > div {
  font-weight: 500;
  font-size: 11px;
     display: flex;
    align-items: center;
    gap: 5px
}

.transaction_template_container_header_subadmin
  > span:nth-child(2)
  > h3:first-child
  > span {
  font-size: 14.3px;
  color: #658900;
}

.transaction_template_container_header_subadmin
  > span:nth-child(2)
  > h3:nth-child(2)
  > span {
  font-size: 14.3px;
  color: #0076b8;
}

.transaction_template_container_body_subadmin{
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  border: 0.5px solid rgba(0, 255, 0, 0.09);
  width: 100%;
  border-radius: 9px;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  position: relative;

}

.transaction_template_container_body_1_subadmin {
  border-radius: 0px 0px 5px 5px;
  border: 0.5px solid rgba(0, 255, 0, 0.09);
  margin-bottom: 5px;
  min-height: 40px!important;
   max-height: 40px!important;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.transaction_template_container_body_2_subadmin {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 9px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  flex: 1;
 min-height: 100%;
 padding: 5px 0px 40px 5px
}




.transaction_template_container_body_1_1_subadmin {
  height: 25px;
  width: 110px;
  border: 1px solid rgba(226, 244, 240, 0.2);
  color: black;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
   margin-left: 10px!important;
font-weight: bold
}

.transaction_template_container_body_1_2_subadmin {
  height: 100%;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 690px;
  gap: 5px;
  margin-right: 15px
}

.transaction_template_container_body_1_3_subadmin {
  display: none
}

.transaction_template_container_body_subadmin
  > div:first-child
  > div:nth-child(2)
  span:hover {
  cursor: pointer;
  border-color: #5e968b;
}

.transaction_template_container_body_1_2_1_subadmin {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(256, 256, 256, 0.7);
  border-bottom: 2px solid transparent;
}

.view-more {
  cursor: pointer;
  margin-right: 45px;
  padding: 6px 19px;
  border-radius: 4px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background: rgba(226, 244, 240, 0.2);
  font-size: 14px;
  margin-top: 10px;
}

.view-more:hover {
  background: rgba(226, 244, 240, 0.3);
}

@media (max-width: 1220px) {
  .transaction_template_container_header_2_subadmin {
    flex-direction: column;
    gap: 3px;
    justify-content: flex-end;
  }
  .transaction_template_container_body_1_2_subadmin {
   display: none;
}


  .transaction_template_container_body_1_3_subadmin {
   height: 25px;
  width: 130px;
  border: 1px solid rgba(226, 244, 240, 0.2);
  color: black;
  font-size: 10px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
   margin-right: 10px;
    position: relative;
    background: grey;
    font-weight: bold
}

.transaction_template_container_body_1_subadmin {
  min-height: 40px!important;
   max-height: 40px!important;
  display: flex;
  width: 100%; 
}
}

@media (max-width: 640px) {
  .transaction_template_container_header_2_span_1_subadmin,
  .transaction_template_container_header_2_span_2_subadmin {
    font-size: 13px!important;
  }


  .transaction_template_container_header_2_subadmin div {
    font-size: 11.4px;
     color: rgba(256, 256, 256, 0.6)!important
  }

  .transaction_template_container_header_subadmin {
    flex-direction: column;
    gap: 23px;
    padding: 5px;
    min-height: 70px;
    max-height: 70px;
  }
  .transaction_template_container_header_2_subadmin div {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center
  }
  .transaction_template_container_header_1_subadmin {
    font-size: 14px;
  }
  .transaction_template_container_subadmin {
 
  padding: 10px 8px 8px 8px;

  }
}


@media (max-width: 500px) {

  .transaction_template_container_body_1_1_subadmin {
  height: 22px;
  width: 100px;
  font-size: 11px;
}
.transaction_template_container_body_1_3_subadmin {
   height: 22px;
  width: 108px;
  font-size: 9px;
}
.transaction_template_container_subadmin {
flex: 1
}

.view-more {
  cursor: pointer;
  margin-right: 20px;
  padding: 6px 19px;
  border-radius: 4px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background: rgba(226, 244, 240, 0.2);
  font-size: 14px;
  margin-top: 10px;
}
}

@media (max-width: 350px) {
  .transaction_template_container_header_2_span_1_subadmin,
  .transaction_template_container_header_2_span_2 {
    font-size: 10px!important;
  }
  .transaction_template_container_header_2_subadmin div {
    font-size: 8px;
  }

    .transaction_template_container_body_1_1_subadmin {
  height: 21px;
  width: 90px;
  font-size: 10px;
}
.transaction_template_container_body_1_3_subadmin {
   height: 21px;
  width: 93px;
  font-size: 7.5px;
}


 
}


.dropdown-content_subadmin {
  display: flex;
 flex-direction: column;
 gap: 4px;
 height: inherit;
 align-items: end;
 border-radius: 5px;
  border: .4px solid rgba(256, 255, 256, 0.3);
     padding: 4px 0px
}

.dropdown-content_1_subadmin, .dropdown-content_2_subadmin, .dropdown-content_3_subadmin {
  height: 35px;
  width: 100%;
    display: flex;
     align-items: center;
     justify-content: center;
     color: white

}

.no-result_subadmin {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animate-pop-in_subadmin {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(0.8);
  transform: translateY(-4rem) scale(0.8);
}

#container-signin-outer_subadmin {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
flex: 1
}
#container-signin_subadmin {
  width: 35px;
  margin: 1em auto;
  position: relative;
  height: 35px;
}
#html-spinner-signin_subadmin {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-top: 4px solid rgba(256, 255, 256, 0.8);
  border-radius: 50%;
}

#html-spinner-signin_subadmin,
#svg-spinner-signin_subadmin {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
