.user_dashboard_container {
  display: flex;
  margin-left: 250px;
  padding: 27px 50px 20px 35px;
  min-height: 100vh;
  flex-direction: column;
}

.user-dashboard-display {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0.1px 0.1px 5px rgba(0, 255, 0, 0.4),
    -0.1px -0.1px 5px rgba(0, 0, 255, 0.4);
    margin-top : 40px
}

@media (max-width: 1028px) {
  .user_dashboard_container {
    margin-left: 0px;
    padding: 90px 35px;
  }
  .user-dashboard-display {
    padding: 10px;
    border-radius: 12px;
  }
}

@media (max-width: 580px) {
  .user-dashboard-display {
    gap: 16px;
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .user_dashboard_container {
    padding: 82px 20px;
  }
}

@media (max-width: 450px) {
  .user_dashboard_container {
    padding: 82px 16px;
  }
}
