.transaction_result-subadmin {
  display: grid;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(256, 256, 256, 0.9);
  grid-template-columns: 13px 1fr 2fr 1fr 1.4fr;
  gap: 187x;
  position: relative;
}

.accepted, .download-button2 {
  display: none !important
}

.mobile-time {
  display: none;
}
.transaction_result-subadmin > span:first-child {
  height: 100%;
  border-radius: 4px;
}
.small_device_group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small_device_group > span {
  flex: .7 1.3;
}

.transaction_result-subadmin > span {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}
/* .transaction_result-subadmin > span:first-child {
  width: 30px;
} */

.transaction_result-subadmin > span:nth-child(3) {
  font-size: 15px;
  font-weight: bolder;
}

.transaction_result-subadmin > span:nth-child(4)  {
  height: 30px;
  max-width: 20px !important;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
   cursor: pointer;
      font-weight: 700;
    font-size: 14px
}

.transaction_result-subadmin > span:nth-child(5) > span:first-child {
  height: 30px;
  width: 90px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  position: relative;
  margin-right: 14px;
   cursor: pointer;

}

.transaction_result-subadmin > span:nth-child(5) > span:nth-child(2)  {
   height: 30px;
  width: 90px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  position: relative;
   cursor: pointer;
}

.download-button {
  position: absolute;
  right: 23px;
  bottom: -7px;
  cursor: pointer;
  color: #5f978a;
  font-size: 14px
}


@media (max-width: 1360px) {
  .transaction_result-subadmin {
    grid-template-columns: 13px 1fr 2fr 1.4fr;
  }
  .transaction_result-subadmin > span:nth-child(4) {
    display: none;
  }

   /* .transaction_result-subadmin > span:nth-child(5) {
    display: none;
  }

  .orderstate {
 height: 30px;
  width: 90px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  position: relative;
   cursor: pointer;
} */

}
@media (max-width: 1460px) {


 .download-button {
    right: 8px !important;
    bottom: -8px !important;
    cursor: pointer;
    color: #5f978a;
  }
}



@media (max-width: 1204px) {
  .transaction_result-subadmin {
    grid-template-columns: 13px 1fr 1fr 1fr;
  }
  /* .transaction_result-subadmin > span:nth-child(4) {
        display: none
    } */
  .small_device_group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    font-size: 10px;
  }
}

@media (max-width: 705px) {
  .transaction_result-subadmin {
    grid-template-columns: 11.5px 1fr 1.4fr;
    gap: 13px;
  }
  .transaction_result-subadmin > span:nth-child(2) {
    display: none;
  }
  .transaction_result-subadmin > span:nth-child(3) {
    align-items: flex-start;
  }
  .transaction_result-subadmin > span:nth-child(3) > span:nth-child(2) {
    font-size: 12px;
  }

  .transaction_result-subadmin > span:nth-child(5) {
    justify-content: flex-end;
  }

  .download-button {
    right: 15px;
    bottom: -7px;
    cursor: pointer;
    color: #5f978a;
  }
  .mobile-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: rgba(256, 256, 256, 0.6);
    margin-bottom: 4px;
  }
}

@media (max-width: 440px) {
  .transaction_result-subadmin {
    grid-template-columns: 9px 1fr 1.4fr;
  }

  .transaction_result-subadmin > span {
    max-height: 43px !important;
  }
  .mobile-time {
    font-size: 8.5px;
    margin: 8px;
  }

  .small_device_group span {
    font-size: 10px;
  }

  .transaction_result-subadmin > span:nth-child(5) > span:first-child {
    height: 22px;
    width: 80px;
    font-size: 9px;
  }

  .download-button {
    right: 15px !important;
    bottom: -5px !important;
    cursor: pointer;
    color: #5f978a;
  }
}

@media (max-width: 358px) {
  .transaction_result-subadmin {
    height: 45px;
    grid-template-columns: 8px 1fr 1.4fr;
    gap: 5px;
  }

  .transaction_result-subadmin > span {
    max-height: 38px;
  }
  .mobile-time {
    font-size: 6px;
    margin: 9px;
  }

  .small_device_group > span:first-child {
    font-size: 8px;
  }

  .small_device_group > span:nth-child(2) {
    font-size: 8px !important;
  }

  .small_device_group > span:nth-child(2) > b {
    font-size: 9px;
  }

  .transaction_result-subadmin > span:nth-child(5) > span:first-child {
    height: 22px;
    width: 80px;
    font-size: 9px;
  }

  .download-button {
    right: 15px;
    bottom: -4px;
    cursor: pointer;
    color: #5f978a;
  }
}

@media (max-width: 299px) {
  .transaction_result-subadmin > span {
    max-height: 33px !important;
  }

  .small_device_group > span:first-child {
    font-size: 7px;
  }

  .small_device_group > span:nth-child(2) {
    font-size: 7px !important;
  }

  .small_device_group > span:nth-child(2) > b {
    font-size: 8px;
  }

  .transaction_result-subadmin > span:nth-child(5) > span:first-child {
    height: 22px;
    width: 70px;
    font-size: 8px;
  }

  .download-button {
    right: 15px;
    bottom: -4px;
    cursor: pointer;
    color: #5f978a;
  }
}

#container-result_subadmin_all {
  width: 19px;
  position: relative;
  height: 19px;
}
#html-spinner-result_subadmin_foraccept {
  width: 100%;
  height: 100%;
  border: 2.9px solid rgba(0, 128, 0, .7) ;
  border-top: 2.9px solid rgba(256, 256, 256, 1);
  border-radius: 50%;
}
#html-spinner-result_subadmin_forreject {
  width: 100%;
  height: 100%;
  border: 2.9px solid rgba(128, 0, 0, .7) ;
  border-top: 2.9px solid rgba(256, 256, 256, 1);
  border-radius: 50%;
}
#html-spinner-result_subadmin_foraccept {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#html-spinner-result_subadmin_forreject {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 513px) {
  .transactionId {
    display: none
  }


}


@media (max-width: 451px) {

  .transaction_result-subadmin > span:nth-child(5) {
    display: none
  }
  .accepted, .download-button2 {
  display: flex !important
}



  .accepted {
  display: flex;
  position: relative;
  height: 40px;
justify-content: flex-end !important;
font-size: 13px;
font-weight: bold;
padding-right: 10px
}

.download-button2 {
  position: absolute;
  right: 6px;
  bottom: -14px;
  cursor: pointer;
  color: #5f978a;
  font-size: 14px
}
}





.displayModal1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white; 
    z-index: 1; 
}

.displayModal2 {
  position: absolute;
  right: 0;
  top: 30px;
  width: 130px;
  height: 90px;
   z-index: 5; 
   display: flex;
   flex-direction: column;
   padding: 17px;
   gap: 10px;
   background: black;
   border-radius: 4px;
   border: .2px solid white;
   transition: height 1.2s ease-in-out
}

.displayModal2.visible {
  opacity: 1; /* Set opacity to 1 when the modal is visible */
}
.displayModal2 > span:first-child {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin-right: 14px;
   cursor: pointer;

}

.displayModal2 > span:nth-child(2)  {
   height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
   cursor: pointer;

}