.body_201 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 25px;
}

.body_innerbody_201 {
  display: flex;
  height: 210px;
  background: rgba(254, 254, 254, 0.08);
  border-radius: 25px;
  width: 100%;
  position: relative;
}

.body_innerbody_202 {
  width: 200px;
  display: flex;
  align-items: center;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.body_innerbody_203 {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 14px solid rgba(2, 119, 183, 0.5);
  margin-left: 186px;
  position: relative;
  right: 0;
  overflow: hidden;
}

.body_innerbody_204 {
  height: 35px;
  display: flex;
  background: rgba(2, 119, 183, 1);
  width: 100%;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
  z-index: 18;
    margin-right: 14px;
    font-weight: bold
}

.body_innerbody_205 {
  display: flex;
  height: auto;
  width: 100%;
  border: none;
  border-radius: 25px;
  flex-direction: column;
}

.body_innerbody_206 {
  position: relative;
  display: flex;
  height: 90px;
}

.body_innerbody_207 {
  display: flex;
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
  padding-left: 60px;
}

.body_innerbody_208 {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: visible;
  position: relative;
  margin-left: 140px;
  justify-content: center;
}

.body_innerbody_209 {
  width: 50px;
  display: flex;
  background: #0076b8;
  position: relative;
}

.body_innerbody_2010 {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: visible;
}

.body_innerbody_2011 {
  height: 36px;
  display: flex;
  width: 100%;
  align-items: center;
  background: #0076b8;
  border-radius: 0px 11px 11px 0px;
  font-size: 13px;
  padding-left: 20px;
  color: black;
  font-weight: 600;
}

.body_innerbody_2012 {
  height: 80%;
  display: flex;
  width: 88%;
  align-items: center;
  background: #e2f4f0;
  border-radius: 12px;
  color: black;
  font-size: 13px;
}

.body_innerbody_2015 {
  display: flex;
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
  padding-left: 60px;
  flex-direction: column;
}

.body_innerbody_2014 {
  width: 39px;
  display: flex;
  background: #0076b8;
  position: relative;
  height: 100%;
}
.body_innerbody_2016 {
  width: 50px;
  display: flex;
  position: relative;
  height: 100%;
}

.body_innerbody_2017 {
  display: flex;
  height: 40px;
  background: #0076b8;
  margin-top: 60px;
  border-radius: 4px;
  border: 0.1 solid black;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}

.body_innerbody_2020 {
  padding-left: 57px;
}

@media (max-width: 613px) {
  .body_innerbody_202 {
    width: 100%;
  }
  .body_innerbody_203 {
    margin-left: 0px;
  }
  .body_innerbody_204 {
    height: 45px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .body_innerbody_209 {
    width: 20px;
  }

  .body_innerbody_207 {
    padding-left: 15px;
    width: 110px;
  }
  .body_innerbody_2011 {
    height: 22px;
    display: flex;
    width: 100%;
    border-radius: 0px 6px 6px 0px;
    font-size: 13px;
    padding-left: 20px;
  }

  .body_innerbody_208 {
    margin-left: 50px;
  }

  .body_innerbody_2012 {
    height: 70%;
    width: 90%;
  }
  .body_innerbody_2014 {
    width: 16.5px;
  }

  .body_innerbody_2015 {
    padding-left: 15px;
    width: 110px;
  }
  .body_innerbody_2020 {
    padding-left: 35px;
  }
  .body_innerbody_201 {
    height: 190px;
  }
}

@media (max-width: 339px) {
  .body_innerbody_201 {
  height: 150px;
  border-radius: 22px;
}
}