:root {
  --max-width: 1100px;
  /*  background colors   */
  --foreground-rgb: 245, 245, 245;
  --background-rgb: 10, 20, 38;
  /* text colors */
  --variant-1: 189, 255, 0;
  --variant-2: linear-gradient(to bottom, #ace900, #0076b8);
  /* screen sizes */
  --s: 768px; /* for phones */
  --m: 992px; /* for tablets */
}

/* animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }nav
  50% {
    opacity: .5;
  }
} */

.animate-pop-in {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(0.8);
  transform: translateY(-4rem) scale(0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.logo {
  width: 400px;
  height: auto;
  animation: logoSize 2s infinite;
}

@keyframes logoSize {
  0% {
    transform: scale(0.8); /* Start small */
  }
  50% {
    transform: scale(1.5); /* Grow to a larger size */
  }
  100% {
    transform: scale(0.8); /* Return to a smaller size */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* spinner positioning and styling */
#container {
  width: 100%;
  margin: 1em auto;
  position: relative;
  height: 100%;
  background: red;
}
#html-spinner {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(245, 245, 245, 0.2);
  border-top: 4px solid white;
  border-radius: 50%;
}

#html-spinner,
#svg-spinner {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**/

.hero-down-arrow {
  -webkit-animation: pulse 2s 3s ease-out infinite;
  animation: pulse 2s 3s ease-out infinite;
  bottom: 2vh;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 10;
}

.hero-down-arrow .scroll-down-logo {
  color: rgb(var(--variant-1));
  -webkit-animation: no-transform 1s 1s ease-out forwards;
  animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem);
}

.main {
  display: flex;
  flex-direction: column;
  margin: 93px 0px 0px 0px;
  max-width: 100vw;
  font-size: 30px;
  position: relative;
}

.main-img {
  right: 70px;
  top: 70px;
  height: 400px;
  width: 600px;
  position: relative;
  position: absolute;
  border-radius: 400px;
  opacity: 0;
  -webkit-animation: no-transform 2s 1s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: no-transform 2s 1s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  z-index: -4;
}

.main-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 256, 245, 0.3);
  filter: blur(34px);
  border-radius: inherit;
  opacity: 0;
  -webkit-animation: no-transform 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: no-transform 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  z-index: -4;
}

/* Animations  */
@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Nav section */
.nav {
  background: rgb(var(--background-rgb));
  width: 100%;
  margin: 0px auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  overflow: hidden;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 80!important;
  height: 93px;
  padding: 0px 50px;
  font-size: 19px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 50px;
}

.nav-img {
  position: relative;
 width: 140px;
  height: 30px;

}

.nav-link {
  height: 48%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 850px;
  flex: 1;
  background: rgba(0, 6, 18, 0.95);
}

.nav-link a {
  position: relative; /* Required for positioning the pseudo-element */
  border-radius: 30.5px 30.5px 34px 34px;
  padding: 5px 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link a:hover::before {
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(189, 255, 0, 1);
  filter: blur(11px);
  border-radius: inherit;
  transition: opacity 0.3s;
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(189, 255, 0, 1);
  filter: blur(11px);
  border-radius: inherit;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.MdMenuOpen {
  display: none;
}

/* smaller screen-sizes */
@media (max-width: 1028px) {
  body {
    padding: 0px 0px 0px 0px;
  }
  .main {
    margin: 80px 0px 0px 0px;
  }
  .nav-link {
    display: none;
  }
  .nav-language {
    display: none;
  }

  .MdMenuOpen {
    display: flex;
    font-size: 44px;
    padding: 3px 5px;
    transition: all 2s ease-in-out;
  }

  @keyframes morphIcons {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(50);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .MdMenuOpen {
    animation: morphIcons 1s ease-in-out;
  }

  .MdMenuOpen {
    animation: morphIcons 1s ease-in-out reverse;
  }

  .nav {
    height: 80px;
    padding: 0px 30px;
  }



  .nav-link2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 80px 0px 0px 0px;
    padding: 0px 40px;
    z-index: 20;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 2s;
    /* animation: slideInFromRight 1s ease-in-out; */
  }

  .nav-link2_inner {
    position: relative;
    height: 330px;
    background: rgba(1, 1, 1, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    animation: slideInFromRight 0.5s ease-in-out;
  }

  .users-nav-link2_inner {
    position: relative;
    background: rgba(1, 1, 1, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    animation: slideInFromRight 0.5s ease-in-out;
    padding: 20px 0px;
  }

  .nav-link2_inner_link {
    position: relative;
    padding: 10px;
    background: transparent;
  }
  .nav-link2_inner_link-mobile {
    position: relative;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Start offscreen to the left */
      opacity: 0;
    }
    100% {
      transform: translateX(0%); /* Slide in to the original position */
      opacity: 1;
    }
  }
}

@media (max-width: 360px) {
  .nav-link2 {
    padding: 0px 20px;
  }
}

@media (max-width: 485px) {
  .nav-img {
    width: 110.3px;
    height: 27px;
  }
  .MdMenuOpen {
    font-size: 40px;
  }
}

@media (max-width: 315px) {
  .nav {
    padding: 0px 16px;
  }
}

/* user nav */

.rotate-icon {
  transform: rotate(-90deg); /* Adjust the degree of rotation as needed */
}

.user-nav {
  background: rgba(0, 0, 0, 0.55);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 80;
  width: 250px;
  font-size: 19px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 0.3px solid rgba(189, 255, 0, 0.1);
  border-radius: 0px 25px 25px 0px;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    z-index: 80!important;
}

.user-nav-img-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.user-nav-img {
  position: relative;
  width: 140px;
  height: 30px;
}

.user-nav-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  color: rgba(256, 256, 256, 0.8);
  margin-top: 80px;
}

.user-nav-link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 104%;
  padding: 14px 36px;
  border-radius: 0px 25px 25px 0px;
  font-weight: 300;
  font-size: 16px;
}

.user-nav-link a:hover {
  opacity: 0.95;
  color: rgba(189, 255, 0, 1);
  /* background: rgba(189, 255, 0, 1); */
}

.for-smaller-devices {
  display: none;
}

.for-larger-devices {
  display: flex;
}

.active-user-nav {
  color: black !important;
  background: rgba(189, 255, 0, 0.8);
  font-weight: 800 !important;
}

.user-nav-link-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  color: rgba(256, 256, 256, 0.8);
  align-self: flex-end;
  padding: 14px 36px;
}
.user-nav-link-bottom a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 104%;
  border-radius: 0px 25px 25px 0px;
  font-weight: 300;
  font-size: 16px;
}

.user-nav-link-bottom a:hover {
  opacity: 0.95;
  color: rgba(189, 255, 0, 1);
}

.user-nav-social-media {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.user-nav-social-media-all {
  display: none
}



.user-nav-social-media-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-nav-logo {
  width: 37px;
  height: 37px;
  position: relative;
}

.user-nav-logo:hover {
  transform: scale(0.9);
}

@media (max-width: 1028px) {
  .for-smaller-devices {
    display: flex;
  }

  .for-larger-devices {
    display: none;
  }

  .user-nav-img-container {
    display: flex;
  }

  .user-nav-link {
    display: none;
  }

  .user-profile-icon-container {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .user-profile-icon {
    max-width: 34px;
    max-height: 34px;
    min-width: 34px;
    min-height: 34px;
    border-radius: 17px;
    position: relative;
    border: 1.5px solid rgba(189, 255, 0, 0.2);
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 17px;
      opacity: 1;
      transition: opacity 2s ease-in-out;
  }

  .disappear {
    opacity: 0
  }

  .user-profile-online-icon-mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 8px;
    max-height: 8px;
    min-width: 8px;
    min-height: 8px;
    background: rgba(0, 256, 0, 1);
    border-radius: 4px;
  }

  .user-nav-social-media-all {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
padding: 30px;
  align-items: flex-end;
   justify-self: flex-end;
   flex: 1
}
.user-nav-logo-all {
  width: 30px;
  height: 30px;
  position: relative;
}

  .user-nav-social-media-all > h4 {
  display: flex;
  width: 55%;
  justify-content: space-evenly;
padding: 8px;
  text-align: end;
}
}

@media (max-width: 620px) {
  .user-profile-icon-container {
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .user-profile-icon {
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 16px;
    font-weight: 800;
    font-size: 14px;
  }

  .user-profile-online-icon-mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 7px;
    max-height: 7px;
    min-width: 7px;
    min-height: 7px;
    background: rgba(0, 256, 0, 1);
    border-radius: 3.5px;
  }
}

@media (max-width: 345px) {
  .user-profile-icon-container {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .user-profile-icon {
    max-width: 28px;
    max-height: 28px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 14px;
    font-weight: 800;
    font-size: 12px;
  }
  .user-profile-online-icon-mobile {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 6.2px;
    max-height: 6.2px;
    min-width: 6.2px;
    min-height: 6.2px;
    background: rgba(0, 256, 0, 1);
    border-radius: 3.1px;
  }
}





/* receipt modal for deposits */

.receiptModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px 0px 0px 0px;
    padding: 0px 40px;
    z-index: 80;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 2s;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .receiptModal_inner {
  position: relative;
  background: rgba(1, 1, 1, 0.75);
  display: flex;
  height: 70%;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  animation: popUp 0.5s ease-in-out; /* Change the animation name */
  padding: 20px 0px;
  transform-origin: center center; /* Set the transform origin to the center */
   border: .6px solid rgba(0, 128, 0, 0.3);
}

.FaLongArrowAltLeft {
  font-size: 30px
}

@keyframes popUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


  @media (max-width: 360px) {
  .receiptModal {
    padding: 0px 20px;
  }
}

.receiptModalImage {
  position: relative;
  width: 120px;
  height: 35px;
}

.receiptModal_inner1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px 40px
}

.receiptModal_inner1 > h3 { 
  padding: 3px 15px;
  font-size: 17px
}

.receiptModal_inner2 {
  display: flex;
  gap: 18px;
  align-items: center;
}

.receiptModal_inner2 > div:nth-child(1) {
 font-size: 40px;
}

.receiptModal_inner2 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.receiptModal_inner2 > div:nth-child(2) > div:first-child {
 font-size: 14px;
 width: 100%
}

.receiptModal_inner2 > div:nth-child(2) > div:nth-child(2) {
 font-size: 26px;
  width: 100%
}
 
.receiptModal_inner3 {
    display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
    width: 100%
}
.receiptModal_inner3 > div:nth-child(1) {
  width: 100%
}
.receiptModal_inner3 > div:nth-child(2) {
 font-size: 13px;
   width: 100%
}

.receiptModal_inner4 {
    display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%
}

.receiptModal_inner4 > div:nth-child(1) {
  width: 100%
}
.receiptModal_inner4 > div:nth-child(2) {
 font-size: 13px;
   width: 100%
}

.receiptModal_inner5 {
    display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%
}
.receiptModal_inner5 > div:nth-child(1) {
  width: 100%
}
.receiptModal_inner5 > div:nth-child(2) {
 font-size: 13px;
   width: 100%
}

.receiptModal_inner6 {
    display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%
}

.receiptModal_inner6 > div:nth-child(1) {
  width: 100%
}
.receiptModal_inner6 > div:nth-child(2) {
 font-size: 13px;
   width: 100%
}

.receiptModal_inner7 {
    display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%
}
.receiptModal_inner7 > div:nth-child(1) {
  width: 100%
}

.receiptModal_inner7 > div:nth-child(2) {
 font-size: 13px;
   width: 100%
}

@media (max-width: 500px) {


  .receiptModal_inner7 > div:nth-child(1), .receiptModal_inner6 > div:nth-child(1),.receiptModal_inner5 > div:nth-child(1), .receiptModal_inner4 > div:nth-child(1), .receiptModal_inner3 > div:nth-child(1) {
  width: 55%
}

.receiptModal_inner7 > div:nth-child(2), .receiptModal_inner6 > div:nth-child(2), .receiptModal_inner5 > div:nth-child(2), .receiptModal_inner4 > div:nth-child(2), .receiptModal_inner3 > div:nth-child(2) {
 font-size: 13px;
   width: 45%
}
.FaLongArrowAltLeft {
  font-size: 25px
}

}

@media (max-width: 476px) { 
  
  .receiptModalImage {
  position: relative;
  width: 90px;
  height: 23px;
}

.receiptModal_inner1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px 20px
}

.receiptModal_inner1 > h3 { 
  padding: 5px 10px;
  font-size: 14px
}


.receiptModal_inner2 > div:nth-child(1) {
 font-size: 30px;
}

.receiptModal_inner2 > div:nth-child(2) > div:first-child {
 font-size: 12px;
}

.receiptModal_inner2 > div:nth-child(2) > div:nth-child(2) {
 font-size: 21px;
}


.receiptModal_inner7 , .receiptModal_inner6 , .receiptModal_inner5 , .receiptModal_inner4 , .receiptModal_inner3 {
font-size: 10px
}
.receiptModal_inner7 > div:nth-child(2), .receiptModal_inner6 > div:nth-child(2), .receiptModal_inner5 > div:nth-child(2), .receiptModal_inner4 > div:nth-child(2), .receiptModal_inner3 > div:nth-child(2) {
  font-size: 10px
}
}



@media (max-width: 330px) {  
  .receiptModal_inner2 > div:nth-child(1) {
 font-size: 25px;
}

.receiptModal_inner2 > div:nth-child(2) > div:first-child {
 font-size: 10px;
}

.receiptModal_inner2 > div:nth-child(2) > div:nth-child(2) {
 font-size: 17px;
}


.receiptModal_inner7 > div:nth-child(1) , .receiptModal_inner6 > div:nth-child(1)  , .receiptModal_inner5 > div:nth-child(1) , .receiptModal_inner4 > div:nth-child(1) , .receiptModal_inner3 > div:nth-child(1)  {
font-size: 10px;
width: auto
}
.receiptModal_inner7 > div:nth-child(2), .receiptModal_inner6 > div:nth-child(2), .receiptModal_inner5 > div:nth-child(2), .receiptModal_inner4 > div:nth-child(2), .receiptModal_inner3 > div:nth-child(2) {
  font-size: 10px;
  width: auto
}
}


@media (max-width: 310px) {  
  .receiptModalImage {
  position: relative;
  width: 99px;
  height: 21px;
}

.receiptModal_inner1 > h3 { 
  font-size: 12px
}
}
