.user_dashboard_container {
  display: flex;
  
  padding: 27px 35px 20px 35px;
  height: auto;
  flex-direction: column;
min-height: 100vh;
max-height: 190vh;
  flex-direction: column;
flex: 1;
padding-left: 300px;
}

.user-dashboard-display {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 5px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
    margin-top : 40px
}

@media (max-width: 1028px) {
  .user_dashboard_container {
    margin-left: 0px;
    padding: 90px 16px 10px 16px;
  }
  .user-dashboard-display {
    padding: 10px;
    border-radius: 12px;
  }
}

@media (max-width: 580px) {
  .user-dashboard-display {
    margin-top: 10px;
    gap: 16px;
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .user_dashboard_container {
    padding: 82px 7px 10px 7px;
  }
}

@media (max-width: 450px) {
  .user_dashboard_container {
    padding: 82px 7px 10px 7px;
  }
}





.marquee {
  width: 95%;
  overflow: hidden; /* Ensures that the overflowing text isn't visible */
  background-color:    rgba(73, 166, 106, 0.5); /* Optional: Set the background color */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  align-self: center;
  height: 30px;
  position: relative;
  margin-top: 10px;
  border-radius: 3px;
  border: 1.5px solid rgba(73, 166, 106, 1)
}


.marqueeInner {
  display: inline-block;
  white-space: nowrap; /* Prevent text wrapping */
  animation: marquee 15s linear infinite; /* Scroll effect */
}

.marqueeText {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
  padding: 0 50px; /* Adds space between texts */
  display: inline-block;
}

/* Keyframes to scroll the text continuously from right to left */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from outside the right edge */
  }
  100% {
    transform: translateX(-100%); /* Scroll to outside the left edge */
  }
}

