.user_dashboard_container {
  display: flex;
  margin-left: 250px;
  padding: 27px 35px 20px 35px;
  height: auto;
  flex-direction: column;
min-height: 100vh;
max-height: 190vh;
  flex-direction: column;
flex: 1
}

.user-dashboard-display {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
    margin-top : 40px
}

@media (max-width: 1028px) {
  .user_dashboard_container {
    margin-left: 0px;
    padding: 90px 16px 10px 16px;
  }
  .user-dashboard-display {
    padding: 10px;
    border-radius: 12px;
  }
}

@media (max-width: 580px) {
  .user-dashboard-display {
    gap: 16px;
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .user_dashboard_container {
    padding: 82px 7px 10px 7px;
  }
}

@media (max-width: 450px) {
  .user_dashboard_container {
    padding: 82px 7px 10px 7px;
  }
}
