/* secondSection section */

.animate-pop-in {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(0.8);
  transform: translateY(-4rem) scale(0.8);
}

.FifthSection-container {
  margin-top: 40px;
  display: flex;
  min-height: 30vh;
  padding: 50px;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.FifthSection-container > h2 {
  font-size: 30px;
  opacity: 0;
 
}
.hero-img-fifth {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 30px;
  

}

.FifthSection-box {
  display: grid;
  grid-template-columns: 1.3fr 1fr ;
  gap: 5%;
}

.FifthSection-box-inner {
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 280px;
  padding: 8%;
}

.FifthSection-icons {
  color: rgba(189, 255, 0, 1);
  font-size: 40px !important;
}

.FifthSection-box-inner h5 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.FifthSection-box-inner-inner {
  padding: 8px;
  border-radius: 6px;
   background-color: rgba(189, 255, 0, 1);
}

.FifthSection-box-inner p {
  font-size: 14px;
  text-align: center;
  line-height: 19px;
}

@media (max-width: 750px) and (min-width: 658px) {
  .FifthSection-container {
    margin-top: -20px;
      padding: 30px;
  }

  .FifthSection-box {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
  .hero-img-fifth {
  width: 120%;
  height: 81%;
  position: relative;
  padding: 0px 30px;
}
}

@media (max-width: 778px) and (min-width: 750px) {
  .FifthSection-container {
    margin-top: -20px;
      padding: 30px;
  }

  .FifthSection-box {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
  .hero-img-fifth {
  width: 100%;
  height: 73%;
  position: relative;
  padding: 0px 30px;
}
}

@media (max-width: 832px) and (min-width: 778px) {
  .FifthSection-container {
    margin-top: -20px;
      padding: 30px;
  }

  .FifthSection-box {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
  .hero-img-fifth {
  width: 100%;
  height: 78%;
  position: relative;
  padding: 0px 30px;
}
}
@media (max-width: 1028px) and (min-width: 832px) {
  .FifthSection-container {
    margin-top: -20px;
      padding: 30px;
  }

  .FifthSection-box {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
  .hero-img-fifth {
  width: 100%;
  height: 90%;
  position: relative;
  padding: 0px 30px;
}
}

@media (max-width: 658px) {
  .FifthSection-container {
    margin-top: 0px;
    padding: 25px;
    gap: 25px;
  }
  .FifthSection-box {
    grid-template-columns: 1fr;
    gap: 3%;
  }

  .FifthSection-box-inner {
    max-height: 220px;
    gap: 10%;
  }

  .FifthSection-icons {
    font-size: 28px !important;
  }
}

@media (max-width: 339px) {
  .FifthSection-container {
    padding: 14px;
    gap: 20px;
  }
  .FifthSection-box-inner {
    gap: 15px;
    padding: 6%;
  }

  .FifthSection-container > h2 {
    font-size: 24px;
  }

  .FifthSection-icons {
    font-size: 20px !important;
  }

  .FifthSection-box-inner h5 {
    font-size: 14px;
  }
  .FifthSection-box-inner p {
    font-size: 12px;
    line-height: 15px;
  }
}
