.user-referral-container {
      display: flex;
  margin-left: 250px;
  padding: 27px 35px 20px 35px;
  min-height: 100vh;
  flex-direction: column;
/* max-height: 190vh; */
  flex-direction: column;
flex: 0 0 auto
}

.user-referral-display {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
    margin-top : 40px
}

@media (max-width: 1028px) {
  .user-referral-container {
    margin-left: 0px;
    padding: 90px 15px 10px 15px;
  }
    .user-referral-display {
    padding: 10px;
    border-radius: 12px;
  }
}

@media (max-width: 620px) {
  .user-referral-container {
    padding: 82px 7px 10px 7px;
  }
}

@media (max-width: 450px) {
  .user-referral-container {
    padding: 82px 7px 10px 7px;
  }
}
@media (max-width: 580px) {
  .user-referral-display {
    gap: 16px;
    flex-direction: column;
  }
}



