.user-dashboard-display-recent {
  display: flex;
  width: 100%;
  height: 190px;
  border-radius: 6px;
  border: 0.5px solid rgba(0, 245, 0, 0.1);
}

.display-recent-1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  padding-top: 35px;
  gap: 7px;
  justify-content: flex-start;
}

.display-recent-1-h1 {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.display-recent-1-h2 {
  font-size: 49px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.display-recent-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
  flex: 1;
  align-items: flex-start;
}

.display-recent-2 p:first-child {
  font-size: 17px;
}

.display-recent-2 p:nth-child(2) {
  font-weight: 700;
}

.display-recent-2-title {
  font-weight: 500;
  width: 93%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

@media (max-width: 1300px) {
  .display-recent-1-h1 {
    font-size: 18px;
  }
  .display-recent-1-h2 {
    font-size: 41px;
  }
  .display-recent-2 p:first-child {
    font-size: 15px;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 14px;
  }
  .display-recent-2-title {
    height: 35px;
  }
}

@media (max-width: 1300px) {
  .display-recent-1 {
    width: 40%;
  }

  .display-recent-1-h1 {
    font-size: 14px;
  }
  .display-recent-1-h2 {
    font-size: 31px;
  }
  .user-dashboard-display-recent {
    height: 150px;
  }

  .display-recent-2 p:first-child {
    font-size: 13px;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 10px;
  }
  .display-recent-2-title {
    height: 28px;
  }
}

@media (max-width: 600px) {
  .display-recent-1 {
    width: 40%;
  }

  .display-recent-1-h1 {
    font-size: 12px;
  }
  .display-recent-1-h2 {
    font-size: 27px;
  }
  .display-recent-2 p:first-child {
    font-size: 11px;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 10px;
  }
  .display-recent-2-title {
    height: 30px;
  }

  .user-dashboard-display-recent {
    height: 140px;
  }

  .display-recent-1 {
    gap: 4px;
  }
}

@media (max-width: 580px) {
  .display-recent-1-h1 {
    font-size: 16px;
  }
  .display-recent-1-h2 {
    font-size: 41px;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .display-recent-2 p:first-child {
    font-size: 15px;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 13px;
  }
  .display-recent-2-title {
    height: 32px;
  }

  .user-dashboard-display-recent {
    height: 160px;
  }

  .display-recent-1 {
    width: 48%;
    gap: 10px;
    align-items: flex-start;
    padding-left: 20px;
  }
  .display-recent-2 {
    align-items: flex-start;
  }
}

@media (max-width: 345px) {
  .display-recent-1-h1 {
    font-size: 11px;
  }
  .display-recent-1-h2 {
    font-size: 24px;
  }
  .display-recent-2 p:first-child {
    font-size: 12px;
    padding-top: 13px !important;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 11px;
  }
  .display-recent-2-title {
    height: 27px;
  }

  .user-dashboard-display-recent {
    height: 127px;
  }

  .display-recent-1 {
    width: 48%;
    gap: 8px;
    align-items: flex-start;
    padding-left: 20px;
  }
}

@media (max-width: 295px) {

  .display-recent-2 p:first-child {
    font-size: 11px;
    padding-top: 13px !important;
  }

  .display-recent-2 p:nth-child(2) {
    font-weight: 700;
    font-size: 10px;
  }
}

#container-signin {
  width: 35px;
  margin: 1em auto;
  position: relative;
  height: 35px;
}
@media (max-width: 1028px) {
  #container-signin {
    width: 25px;
    height: 25px;
  }
}

#html-spinner-signin {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-top: 4px solid rgba(189, 255, 5, 0.2);
  border-radius: 50%;
}

#html-spinner-signin,
#svg-spinner-signin {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.loading-background {
 background: linear-gradient(to bottom, #ccc, #fff, #ccc); /* Change the colors as needed */
  background-size: 100% 200%; /* Adjust the second value to control the movement */
  animation: gradientMove 5s linear infinite; 
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}