.referral-body-espece {
  width: 97%;
  height: 126px;
  background-color: #1e283a;
  margin-top: 30px;
  border: 10px;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 25px
}

.signup-input-espece {
color: white !important;
  border: none;
  padding: 11px;
  border-radius: 4.5px;
  border: none;
  font-size: 15px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #0f172a;
  transition:
    border-color 0.3s,
    box-shadow 0.3s outline 0.9s;
  /* Adding smooth transition */

  /* Styles for when the input is focused */
  &:focus {
    border-color: blue;
    /* For example, changing the border color */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    /* Adding a box shadow */
    outline: 3px solid #ffda39;
    transition: 0.9s;
    /* Removing the default focus outline */
  }
}

.signup-input-espece::placeholder {
  align-self: center;
  opacity: 0.5
}

.form3-espece {
color: rgba(256, 256, 256, 0.25);
width : 100%
}

.referral-link-input-espece {
  cursor: pointer;
   background-color: rgba(128, 128, 128, 0.5);
            display: flex;
            height: 40px;
            color: white;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            white-space: nowrap;
}

.referral-link-input-espece:hover {
  opacity: 0.7
}

@media (max-width: 400px) {
  .referral-link-input-espece { 
font-size: 8px;
min-width: 120px;
  }

}

@media (max-width: 1028px) {
  .referral-link-input-espece { 
font-size: 11px;
min-width: 140px;
  }

}
@media (min-width: 1028px) {
  .referral-link-input-espece { 
font-size: 14px;
min-width: 180px;
  }

}

.CiCircleCheck {
font-size: 25px;
 color: rgba(0, 256, 0, 1) ;
 font-weight: bold
}

/* loading styling */

#container_customerid-copy {
  width: 23px;
  position: relative;
  height: 23px;
  
}
#container_customerid_inner-copy {
  width: 100%;
  height: 100%;
  border: 2.9px solid rgba(128, 128, 128, .7) ;
  border-top: 2.9px solid rgba(256, 256, 256, 1);
  border-radius: 50%;
}

#container_customerid_inner-copy  {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.referral-body-espece-referral1 {
  width: 97%;
  height: 126px;
  background-color: #1e283a;
  margin-top: 30px;
  border: 10px;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center
}

/* spinner positioning and styling */
#container-referral1 {
  width: 40px;
  margin: 1em auto;
  position: relative;
  height: 40px;
}
#html-spinner-referral1 {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(245, 245, 245, 0.2);
  border-top: 4px solid white;
  border-radius: 50%;
}

#html-spinner-referral1,
#svg-spinner-referral1 {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**/