
.user_profile_container {
  display: flex;
  margin-left: 250px;
  padding: 27px 35px 20px 35px;
  height: auto;
  flex-direction: column;
/* max-height: 190vh; */
  flex-direction: column;
flex: 0 0 auto
}

.user_profile_container_001 {
    width: 100%;
    flex: 0 0 auto;
    padding: 10px;
    background: rgba( 0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 40px;
}


label {
  margin-top: 10px;
}

@media (max-width: 1028px) {
  .user_profile_container {
    margin-left: 0px;
    padding: 90px 15px 10px 15px;
  }
}

@media (max-width: 620px) {
  .user_profile_container {
    padding: 82px 7px 10px 7px;
  }
}

@media (max-width: 450px) {
  .user_profile_container {
    padding: 82px 7px 10px 7px;
  }
}


.submit-button-profile {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 22px;
  cursor: pointer;
  align-self: flex-start;

}
.submit-button1-profile {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


@media (max-width: 665px) {
  .submit-button-profile {
    align-self: center;
  }

  .profile-form1 {
    padding: 8px;
  }

  .profile-form1::placeholder {
    color: rgba(256, 256, 256, 0.1);
    font-size: 12px;
  }
  .laptop-version {
    display: none
  }

}

@media (max-width: 395px) {
  p {
    font-size: 12px;
  }
}

.saved_id_container_outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.saved_id_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.saved_id_container-inner {
  padding: 5px 10px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(256, 256, 256, 0.5);
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 1283px) {
  .saved_id_container_outer {
    flex-direction: column;
    gap: 13px;
    width: 100%;
  }

  .saved_id_container_outer > div {
    font-size: 11px;
  }

  .saved_id_container {
    align-self: flex-end;
  }

  .saved_id_container-inner {
    padding: 2.5px 5px;
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    font-size: 12px;
    gap: 8px;
  }
}

@media (max-width: 1283px) {
  .saved_id_container-inner {
    gap: 6px;
    padding: 2px 4px;
  }
.smaller-screen {
display: grid !important;
grid-template-columns: 1fr 1fr 1fr !important
}


}








    .profile-container {
  display: flex;
  min-height: calc(100vh - 93px);
  width: 100vw;
  flex-direction: column;
  margin-top: 93px;
}

/* first section */
.profile-container_inner {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 60vh;
  gap: 80px;
}

.profile-container_inner_background_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.profile-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 40px;
  align-items: center;
}

.label {
font-weight: 700;
margin-bottom: 20px;
}

.add-photo{
  grid-column: 1/3;
}
.betid-section {
  grid-column: 1/3;
    position: relative
}



.profile-form {
  border: none;
  outline: none;
  padding: 15px;
  color: white;
  background: transparent;
  width: 100%;
  display: inline-block;
  margin-top: 12px;
  border: 2px solid rgba(256, 256, 256, 0.09);
  border-radius: 4px;
  font-size: 16px;
  background: rgba(256, 256, 256, 0.03);
}


.profile-form:-webkit-autofill,
.profile-form:-webkit-autofill:hover,
.profile-form:-webkit-autofill:focus,
.profile-form:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.profile-form::placeholder {
  color: rgba(256, 256, 256, 0.1);
  font-size: 16px;
}

.profile-form:focus {
  border: 2px solid rgba(189, 255, 5, 0.7);
  outline: none;
  transition: 1s border ease-in-out;
}



.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  border-radius: 28px 0px 0px 28px;
  border: 2px solid rgba(189, 255, 5, 0.2);
  border-right: none;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.welcome-section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(256, 256, 256, 0.3);
  height: 100%;
  letter-spacing: 4px;
}

.welcome-section-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.welcome-section-second_h5 {
  color: white;
  font-weight: 600;
}

.welcome-section-second_p {
  font-size: 15px;
}

.forgot-password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: rgba(256, 256, 256, 0.7);
  font-weight: 300;
  padding: 0px 13px;
  font-size: 16px;
}

.forgot-password:hover {
  color: rgba(256, 256, 256, 1);
}

.profile-header {
  display: none;
}

@media (min-width: 1028px) and (max-width: 1090px) {
  .welcome-section-second_p {
    font-size: 13px;
  }
}

@media (max-width: 1028px) {
  .profile-container {
    margin-top: 80px;
  }

  .welcome-section {
    display: none;
  }

  .profile-form-container {
    width: 100%;
    padding: 10px 10px;
    gap: 20px;
  display: flex;
  flex-direction: column
  }

  .profile-form-container > div {
    width: 100%
  }

  .submit-button1-profile {

  width: 120px;
  height: 30px;
  border-radius: 4px;
 
  font-size: 12px;

 
}

 

  .profile-container_inner {
    min-height: 250px;
  }
  .profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgba(256, 256, 256, 0.3);
    height: 100%;
    letter-spacing: 4px;
    margin: 15px 0px;
  }

  .profile-form {
    height: 50px;
  }

  .submit-button-profile {
    width: 100%;
  }

  .forgot-password {
    font-size: 12px;
  }
}

/* last section */
.profile-container_inner23 {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0px 50px;
  justify-content: center;
  width: 100vw;
  height: 100%;
  align-items: center;
}

.profile-social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.profile-img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: scale(0.8);
}

.welcome-section-mobile {
  display: none;
}

@media (max-width: 1028px) {
  .profile {
    padding: 0px 20px;
  }

  .profile-img {
    width: 30px;
    height: 30px;
  }

  .profile-social-media-icons {
    width: 80%;
  }

  .profile-container_inner23 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 0px 0px;
    justify-content: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    margin-bottom: 38px;
  }

  .welcome-section-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 20px 0px;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    min-height: 25vh;
  }

  .welcome-section-second-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 30px;
  }

  .welcome-section-second_h5-mobile {
    color: white;
    font-weight: 600;
  }

  .welcome-section-second_p-mobile {
    font-size: 12px;
  }
}

/* spinner positioning and styling */
#container-profile {
  width: 35px;
  margin: 1em auto;
  position: relative;
  height: 35px;
}
#html-spinner-profile {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 1);
  border-top: 4px solid rgba(189, 255, 5, 0.2);
  border-radius: 50%;
}

#html-spinner-profile,
#svg-spinner-profile {
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1028px) {
  #container-profile {
    width: 25px;
    height: 25px;
  }
}

.profile-form-password {
  display: flex;
  width: 100%;
  position: relative;
}

.profile-form-password-visibility {
  position: absolute;
  right: 20px;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(256, 256, 256, 0.6);
}

@media (max-width: 355px) {
  .profile-form {
    padding: 10px !important;
    border: 1.4px solid rgba(256, 256, 256, 0.09);
    border-radius: 4px;
    font-size: 13px;
  }
  .profile-condition-checkbox-p {
    font-size: 7.5px;
  }

  .profile-form::placeholder {
    font-size: 12px;
  }
  .welcome-section-second_p-mobile {
    font-size: 10px !important;
  }

  .welcome-section-second_h5-mobile {
    font-size: 11px;
  }

  .profile-header {
    font-size: 14px;
  }

  .submit-button-profile {
    font-size: 22px;
  }
}

.add-photo {
  height: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
justify-content: flex-start;
width: 100%;
}

.add-photo-container {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  border: 2px solid rgba(0, 256, 0, 0.3);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: opacity 2s ease-in-out;
}

.appear {
opacity: 1
}

.add-photo-button {
  width: 165px;
  height: 37px;
  background: rgba(158, 168, 168, 0.4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer
}

@media (max-width: 390px) {
    .submit-button1-profile {

  width: 90px;
  height: 30px;
  border-radius: 4px;
 
  font-size: 8px;
}
.add-photo-container {
  width: 60px;
  height: 60px;
 background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;

  transition: opacity 2s ease-in-out;
}
}

@media (max-width: 390px) {
.add-photo-button {
  width: 120px;
  height: 26px;
  font-size: 12px;
}
}




