.banner-wrapper {
  border-radius: 10px;
}

.banner-swiper-slide {
}

.banner {
  width: 100%;
  /* height: 200px; */
  padding: 30px;
  background: rgb(38, 44, 57);
  color: white;
  /* border: 1px grey solid; */
  border-radius: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.home-banner {
  padding: 0 50px;
  margin-bottom: 20px;
}

.write-up-title {
  font-size: 36px;
}

.write-up-body {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.607);
}

.banner-icon {
  width: 70px;
  height: 70px;
  border-radius: 99px;
  background: #ace900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(38, 44, 57);
}

.banner-speaker {
  font-size: 40px;
}

@media (max-width: 1028px) {
  .home-banner {
    padding: 0 20px;
  }

  .banner {
    height: 100px;
  }
}
